<p>Make a New Card for the <%= @deck.name %> deck.</p>

<form action="/decks/<%= @deck.id %>/card/create">

	<input type="text" name="card[question]" placeholder="Ask a Good Question!">

	<input type="text" name="card[answer]" placeholder="Give a Good Answer!">

	<input type="submit">

</form>