.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}

body {background-color: #313030;

}

.head{
  text-align: center;
  font-family: 'Domine', serif;
}

.head h1{
  font-size: 4em;
  letter-spacing: 24px;
  background: -webkit-linear-gradient(#FFD700, #b29600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.starring{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  letter-spacing: .2em;
  color: #F8F8F8;
}

span { color: #FFD700;

}

.navigation{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.header_line {
height:1px;
background:#b29600;
border-bottom:1px solid #313030;
width: 60%;
margin-top: 2%;

}

th {
  text-align: left;
}

a:link {
  text-decoration: none;
  color: grey;
}

a:visited {
  color:grey;
}

a:hover{
  color: #FFFFFF;
}

.linkbutton {
  background:none;
  border:none;
  padding:0;
  cursor: pointer;
  color: grey;
}

.linkbutton:hover{
  color: #FFFFFF;
}

.navbar{
  display: inline-block;
  margin: 1em;
}

/* Media Queries 481px*/

@media only screen and (max-width: 481px){
}

/* Media Queries 769px*/
@media only screen and (min-width : 769px){
}


/* Media Queries 1024px*/

@media only screen and (min-width : 1024px){

}

/* Media Queries 481px*/

@media only screen and (min-width: 1024px){
}
