.card-image {
  float:left;
  margin-right:40px;
  max-width:50%;
}
.card-image img {
  max-height:200px;
  max-width:100%; 
}


.container {
  position: relative;
  top: -525px;
  margin: 20px auto;
  width: 70%;
  padding: 0p x 20px 20px 20px;
}

.container h2{
  font-family: 'Domine', serif;
  font-size: 2em;
  color: #e5c100;
  text-shadow: 1px 1px 1px #000000,
  2px 2px 2px #000000;
}

.container h3{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
}

.container p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  letter-spacing: 1.25px;
}

.container .question{
  font-family: 'Domine', serif;
  font-size: 1em;
  letter-spacing: -.5px;
  font-weight: bold;
}

.container .result{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  letter-spacing: 1.25px;
}

.style{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
}

body {
  background-color: #313030;
}

.head {
  text-align: center;
  font-family: 'Domine', serif;
}

.head h1 {
  font-size: 5em;
  letter-spacing: 24px;
  text-shadow: 1px 1px 1px #e5c100,
  2px 2px 2px #e5c100,
  2px 2px 2px #e5c100,
  2px 2px 2px #e5c100,
  2px 2px 2px #e5c100,
  2px 2px 2px #e5c100,
  3px 3px 5px #FFD700,
  3px 3px 5px #FFD700,
  3px 3px 5px #FFD700,
  3px 3px 5px #FFD700,
  3px 3px 5px #FFD700,
  3px 3px 5px #FFD700;
}

.starring{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  letter-spacing: .2em;
  color: #F8F8F8;
  text-shadow: 2px 2px 2px #FFD700, 1px 1px 1px #b29600;
}

span {
  color: #FFD700;
  text-shadow: 2px 2px 2px #000000, 1px 1px 1px #000000;
}

.navigation{
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: .2em;
  text-shadow: 1px 1px 1px #FFD700,.5px.5px .5px #b29600;
}

.header_line {
  height:1px;
  background:#b29600;
  border-bottom:1px solid #313030;
  width: 60%;
  margin-top: 2%;
}

th {
  text-align: left;
}


.navigation a:link {
  text-decoration: none;
  color: grey;
}

.navigation a:visited {
  color:#F8F8F8;
}

.navigation a:hover{
  color: #FFD700;
}

.container a{
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: .2em;
  color: #e5c100;
  text-shadow: 1px 1px 1px #000000,
  2px 2px 2px #000000;
}

.container a:link {
  text-decoration: none;
}

.container a:visited {
  color:#F8F8F8;
}

.container a:hover{
  color: #FFD700;
}

.linkbutton {
  background:none;
  border:none;
  padding:0;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 1px #FFD700,.5px.5px .5px #b29600;
  letter-spacing: .2em;
}

.index_button{
  background:none;
  border:none;
  padding:0;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: underline;
}

.linkbutton:hover{
  color: #FFD700;
}

.linkbutton:visited{
  color: #FFD700;
}

.navbar{
  display: inline-block;
  margin: 1em;

.errors {
  color:red;
}


/* Media Queries 481px*/

@media only screen and (max-width: 481px){
}

/* Media Queries 769px*/
@media only screen and (min-width : 769px){
}


/* Media Queries 1024px*/

@media only screen and (min-width : 1024px){

}

/* Media Queries 481px*/

@media only screen and (min-width: 1024px){

.errors {
  color:red;
}
