.hide {
	display:none;
}

.show {
	display: block;
}

.form {
	
	position: fixed;
	top: 30%;
	left: 30%;
	background-color: white;
	padding: 2em;
}
/*
#loginForm{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}*/