<nav>
  <a class="navbar" href="/">VAUXHALL CROSS</a>

  <% if session[:user_id] %>
		<form class="navbar" action="/logout" method="POST">
      <input type="submit" class="linkbutton" value="MISSION ACCOMPLISHED"></form>
		<a class="navbar" href="/users/<%= session[:user_id]%>/results">MISSION DEBRIEFINGS</a>
    <a class="navbar" href='/decks/show_all'>DOSSIER</a>
	<% else %>
		<a href="/login" id="loginButt">LOGIN</a>
		<a class="navbar" href="/users/new">ENLIST WITH MI6</a>
	<% end %>
</nav>
<div align="center">
<div class="header_line"></div>
</div>

