<nav>
  <a href="/">VAUXHALL CROSS</a>

  <% if session[:user_id] %>
		<form action="/logout" method="POST">
      <input type="submit" class="linkbutton" value="Logout"></form>
		<a href="/users/<%= session[:user_id]%>/results">Personal Stats</a>
    <br>
    <a href='/decks/show_all'>See All Decks</a>
	<% else %>
		<button>LOGIN</button>
		<a href="/users/new">Create an account!</a>
	<% end %>
</nav>

<br><hr><br>
