<h1>GOLDFINGER</h1>

<nav>
  <a href="/"><button>HOME</button></a>

  <% if session[:user_id] %>
		<form action="/logout" method="POST"><input type="submit" value="Log Out"></form>
		<a href="/users/<%= session[:user_id]%>/results"></a><button> Personal Stats</button>
    <br>
    <a href='/decks/show_all'><button>See All Decks</button></a>
	<% else %>
		<button>LOGIN</button>
		<a href="/users/new"><button>Create an account!</button></a>
	<% end %>
</nav>

<br><hr><br>
