<h2>Create a New Mission</h2>

<h3>Mission Name:</h3>

<form action="/decks/create" method="POST">

	<input type="text" placeholder='Deck Name' name="deck[name]">
  <br><br>
	
	<input type="submit" value="Add your first Card!">
	
</form>
