<h2>Make a New Deck why not ?</h2>

<form action="decks/create" method="POST">

	<h4>Choose a Deck Name:</h4><input type="text" placeholder='Deck Name'>
	
	<br><input type="submit" value="Start this deck with your first Card!">
	
</form>

