<h2>Choose a Deck to Play a Game</h2>
<br>

<form action="/decks/round/create" method="POST">
 <select name='deck_id'>
  <% @decks.each do |deck| %>
    <option value=<%= deck.id %> ><%= deck.name %></option>
  <% end %>
  </select>
  <input type="submit" class="index_button" value="Click">
</form>
<br>
<% if session[:user_id] %>
	<a href="/decks/new"><button class="index_button">Wanna Make a New Deck?</button></a>
<% end %>
