<audio autoplay class="audio">
  <source src="James_Bond.ogg" type="audio/ogg">
  <source src="James Bond.mp3" type="audio/mpeg">
</audio>


<h2>Welcome to MI6</h2>
<h3>Are your ready for your next mission?</h3>



<br><br><hr><br>

<h2>Top Agents</h2>

<ul class="top_agents">
<% Round.leaders.each do |leader| %>
  <li class="leaders"><%= leader.user.name %>, Mission: <%= leader.deck.name %>, Score: <%= leader.score %></li>
 <% end %>
</ul>
