<h2>Would you like to play a game?</h2>

<h3> Sign in to play!</h3>
<% if flash[:signin_errors] %>
  <div class="errors"><%= flash[:signin_errors] %></div>
<% end %>
<form action="/login" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="MISSION START">
</form>
<br><hr>

<h3>Create an account!</h3>
<% if flash[:signup_errors] %>
  <div class="errors"><%= flash[:signup_errors] %></div>
<% end %>
<form action="/signup" method="post">
  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" value="Signup!">
</form>
