<audio autoplay class="audio">
  <source src="James_Bond.ogg" type="audio/ogg">
  <source src="James Bond.mp3" type="audio/mpeg">
</audio>

<h2>Would you like to play a game?</h2>


<h2>Hall of Fame</h2>

<ol>
<% User.leaderboard.each do |leader| %>
  <li><%= leader[:user] %> Round <%= leader[:round] %>, <%= leader[:deck] %>, Score: <%= leader[:score] %></li>
 <% end %>
</ol>

