<audio autoplay class="audio">
  <source src="James_Bond.ogg" type="audio/ogg">
  <source src="James Bond.mp3" type="audio/mpeg">
</audio>

<h2>READY FOR YOUR NEXT MISSION?</h2>

<h3>Submit 'License to Kill'</h3>

<% if flash[:signin_errors] %>
  <div class="errors"><%= flash[:signin_errors] %></div>
<% end %>

<form action="/login" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <input type="submit" class="index_button" value="MISSION START">
</form>
<br><hr>

<h3>Join MI6</h3>

<% if flash[:signup_errors] %>
  <div class="errors"><%= flash[:signup_errors] %></div>
<% end %>
<form action="/signup" method="post">
  <input type="text" name="name" placeholder="name"><br>
  <input type="text" name="email" placeholder="email"><br>
  <input type="password" name="password" placeholder="password"><br>
  <input type="submit" class="index_button" value="Signup!">
</form>
